body {
  padding: 0;
  margin: 0;
  background-color: rgb(253, 253, 253);
  font-family: 'Source Sans Pro', sans-serif;
}

#picker {
  top: 20px;
  right: 20px;
  position: absolute;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  z-index: 1;

  label {
    display: flex;
    gap: 10px;
  }

  input[type=number] {
    width: 100px;
  }

  button {
    margin-top: 15px;
    width: 100%;
  }

  ul {
    list-style-type: none;
    padding: 2px;
    margin: 2px;

    &.running {
      color: #aaa;
    }
  }
}

#benchmark {
  width: calc(100% - 300px);
  aspect-ratio: 4/3;
  max-height: 80vh;
  margin: 20px;
  border: 2px solid black;
}

#results,
#info {
  margin: 20px;
  margin-right: 300px;

  border-radius: 4px;
  display: block;
}

#info {
  max-width: 800px;
}

#results {
  width: calc(100% - 300px);

  .column tbody td {
    transform-origin: bottom;
    animation: revealing-bars 2s ease-out;
  }

  .data {
    font-size: 0.7em;
    flex-direction: column;
  }
}

@keyframes revealing-bars {
  0% {
    transform: scaleY(0);
  }

  30% {
    transform: scaleY(1);
  }
}

#cross-origin-isolated-warning {
  display: block flow-root;
  background-color: burlywood;
  padding-left: 10px;
  padding-right: 250px;
}
